@import './ColorScheme.scss';

.accountButton-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    padding: 10px;
    background-color: $primary_1;
    text-decoration: none;
    color: white;
}

.icon {
    width: 32px;
}

.dropdown-icon {    
    width: 16px;
}