@import './ColorScheme.scss';

.account-button {
    position: relative;
    display: inline-block;
    width: 100%;

    &:hover .dropdown-content { // Quando fai hover sul bottone mostra il dropdown
        display: block;
    }
}

.accountButton-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: $primary_1;
    text-decoration: none;
    color: white;
}

.dropdown-content {
    display: block;
    position: absolute;
    width: 100%;
}   

.accountButton-links {
    display: block;
    font-size: 1em;
    text-decoration: none;
    padding: 10px;
    color: $primary_1;
    transition: 0.4s;

    &:hover { // Quando fai hover sul link del dropdown cambia colore background
        background-color: $secondary_1;
    }
}

.icon {
    width: 32px;
}

.dropdown-icon {    
    width: 16px;
}