@import 'ColorScheme.scss';


.Home {
    height: 1920px;
}

.navBar-container {
    background-color: $secondary_2;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    column-gap: 20px;
    background-color: $secondary_2;
}

.grid-item {
    //background-color: $primary_1;
}

.main {
    background-color: white;
}

.main-wrapper {
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%
}

.main-item {
    margin-bottom: 20px;
}

.bookTable-container {
    
}

.sideNavBar-container {
    margin-top: 50px;
}




/*.grid-container {
    display: grid;
    height: auto;
    width: 100%;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr 4fr;
    box-sizing: border-box; 
}

.grid-item {
    background-color: lightcyan;
}

.body {
    margin: 50px 10% 0 10%;
}

.searchBar-container {

}
*/