@import './ColorScheme.scss';


.language-select {
    background-color: $primary_1;
    border: 0;
    padding: 15px;
    border-radius: 10px;
    font-size: 1em;
    color: white;
    background-color: $primary_3;
}