@import "./ColorScheme.scss";
.content-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $secondary_2;
    padding: 10px;
    z-index: 1000;

    //Border Styling
    border-style: solid;
    border-radius: 10px;
    border-color: $primary_3;
    border-width: 5px;
}

//Creates unclickable area around Modal
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;

}

.close-button{
    float: right;
    font-size: 1.2em;
    border: none;
    margin: 1px;

    background: none;
    color: red;
    cursor: pointer;
    
}
