@import './ColorScheme.scss';

.sideNavBar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.sideNavBar-link {
    width: 80%;
    box-sizing: border-box;
    
    background-color: $primary_2;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 5px solid $secondary_1;
    border-radius: 0px 10px 10px 0;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        width: 100%;
        color:white;
    }
}

.sideNavBar-link-active {
    background-color: $primary_3;
    width: 100%;
}